
@font-face{
    font-family: 'Ubermovebold';
    src: url(/Ubereats/font/Ubermovebold.woff2);
}
@font-face{
    font-family: 'Ubermovetext';
    src: url(/Ubereats/font/Ubermovetext.woff2);
}
@font-face{
    font-family: 'Ubermovetextmedium';
    src: url(/Ubereats/font/Ubermovetextmedium.woff2);
}

*{
    
    padding: 0;
    box-sizing: border-box;
}

body,html{
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    
}
.head{
    position: fixed;
    width: 100%;
    
    
    top: 0px;
    z-index: 1000;
    left: 0;
    display: block;
    
    
  
}
.ubereat{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    
    
}

.container2{
    display: none;
}
.left{
    display: flex;
    
    
}
.left >div{
    left: 0;
}




.ubereat{
    padding-left: 40px;
    padding-right: 40px;
    
    height: 68px;
}
.uberheading img{
    width: 89px;
    height:16px ;
    margin-top: 2px;
    margin-left: 4px;
    margin-right: 28px;
}




.sign{
    display: flex;
    justify-content: end;
    
    
    
  }
  .sign li a{
    text-decoration: none;
    letter-spacing: normal;
    text-align: center;
}
.sign li{
    list-style-type: none;
    

   
   
}

.sign li .in{
    
    box-sizing: border-box;
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Ubermovetextmedium',system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(48, 48, 48);
    border-radius: 9999px;
    background: white;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    letter-spacing: normal;
    padding: 8px 10px 8px 10px;
    align-items: center;
    background-clip: border-box;


}

.sign li .up{
    box-sizing: border-box;
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    color: rgb(255, 255, 255);
    font-family: 'Ubermovetextmedium';
    border-radius: 9999px;
    background: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: normal;
    padding: 8px 10px 8px 10px;
    align-items: center;

   
}

.human svg{
    width: 16px;
    height: 16px;
    position: relative;
    top: 2px;
    
}
.human{
    align-items: center;
    background:white;
    height: 36px;
    width: 36px;
    padding: 6px 9px 4px 9px;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 500px;
    white-space: nowrap;
}
.human{
    display: none;
}

@media(min-width:1025px){
    .threeline svg{
        margin-right: 18px;
    }
    .sign{
        gap: 16px;
    }
    .sidebar{
        
        margin-top: -4px;
        
    }
    
   
    
}

@media(max-width:1016px){
   
    
}
@media(max-width:412px){
    .ubereat{
        padding-left: 18px;
        padding-right: 16px;
        
    }
    .left{
        margin-top: -6px;
    }
    .uberheading img{
        width: 89px;
        height:16px ;
        margin-top: 2px;

    }
    .human{
        text-align: center;
        align-items: center;
        margin-top: -10px;
        
    }
    .human svg{
        margin-top: 3px;
        
    }
    .sign{
        gap: 12px;
    }
    
}
.main-aria{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-image: url(/Ubereat_2/Images/uberheader.png);
    background-position: center center;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
   
    
}
.main{

    box-sizing: border-box;
    color: black;
    padding: 0 40px;
    margin: 0 auto;
    display: block;
    width: 100%;
    max-width: 1920px;
    min-width: 1024px;
   position: absolute;
   margin-top: 14px;

}

.order h1{
    font-size: 52px;
    width: 60%;
    line-height: 64px;
    letter-spacing: normal;
    font-weight: 700;
    font-family: 'Ubermovebold',sans-serif;
    margin: 0;
   
    
}

.linear{
    display: flex;
    gap:8px ;
}
.location{
    display: flex;
    border: 2px solid transparent;
    justify-content:flex-start;
    align-items: center;
    width: 100%;
    max-width: 499.8px;
    background: white;
    
    
}
.location .locationimage{
    padding: 14px;
    margin-top: 4px;
}
.location .text input{
    border: none;
}
.location  .text{
    font: inherit;
    color: inherit;
    border: none;
    letter-spacing: inherit;
    width: 100%;
    max-width: fit-content;
    
   

}

.delivery{
    display: flex;
    align-items: center;
    border: 2px solid transparent;
    background: white;
    width: 100%;
    max-width: 191px;
    
    
}
.delivery >div{
    position: relative;
    
    top: -1px;
}
.deliveryone{
    display: flex;
    
}
.deliveryone .textsize input{
   align-items: center;
  border: none;
    width: 90px;
    align-items: center;
}
.deliver::placeholder{
    font-size: 16px;
    line-height: 20px;
    letter-spacing: normal;
    font-weight: 500;
    color: black;
    font-family: 'Ubermovetextmedium';
    width: 100%;
    max-width: 90px;
    

}
.clockimage{
    margin-left: 14px;
    margin-top: 5px;
}

.mark{
    margin-top: 5px;
}
.search{
    align-items: center;
    align-content: center;
    border: none;
    background: black;
    border-radius: 8px;
    justify-content: center;
    
    width: max-content;
    height: 56px;

}
.search button{
    border: none;
    letter-spacing: normal;
    background: black;
    color: white;
    font-family: 'Ubermovetextmedium';
    line-height: 24px;
    font-size: 18px;
    font-weight: 500;
    padding-left: 16.5px;
    padding-right: 16.5px;
    
}
.signs{
    padding-top: 10px;
}
.signs p{
    font-family: 'Ubermovetextmedium';
    letter-spacing: normal;
    line-height: 16px;
    letter-spacing: normal;
    font-size: 14px;
    font-weight: 500;
   
    color: rgb(0, 0, 0);
}
.signs a{
    font-family: 'Ubermovetextmedium';
    color: rgb(0, 0, 0);
    line-height: 16px;
    letter-spacing: normal;
    font-size: 14px;
    font-weight: 500;
}
.linear{
    height: 56px;
}
.order{
    
    margin-bottom: 40px;
}
.textsize{
    margin-top: 8px;
}
.text{
    padding:2px ;
}
.loca::placeholder{
    font-family: 'Ubermovetextmedium';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: normal;
    font-weight: 500;
    color: rgb(102, 102, 102);
    
}
.delivery{
    gap: 13px;

}
.deliveryone{
    display: flex;
    gap: 12.2px;
}
@media(min-width:1770px){
    .main{
       
    }
}
@media(max-width:1024px){
    
}
@media(min-width:900px){
    .Main{
        
        
        
        /*padding-left: 40px;
        padding-right: 40px;*/
        
        
    }
    
}
@media(max-width:900px){

    .Main{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 16px;
        padding-right: 16px;
       
        
        
    }
    
    .order{
        margin-bottom: 2px;
    }
    .order h1{
        font-size: 36px;
    }
    
    .linear{
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 50%;
        height: 200px;
        justify-content: center;
        
        
        
        
    }
    .location{
        max-width: 100%;
        height: 56px;
        
    }
    .delivery{
        max-width: 100%;
        height: 56px;
        gap: 50%;

        
    }
    .deliveryone{
        gap:11px;
    }
    .textsize{
        margin-top: 9.5px;
    }
    .search{
        width: 100%;
        text-align: center;
        margin-top: 8px;
        
    }
    .signs{
        width: 100%;
        max-width: 50%;
    }
    .human{
        position: relative;
        top: -8px;
    }
}

@media(max-width:412px){
    .Main{
        top: 80px;
        
    }
    .order h1 {
        font-size:36px;
        margin-bottom: 32px;
        line-height:44px ;
        width: 100%;
        max-width:none;
    }
    .location input {
        padding-left: 1px;

    }
    .text{
        margin-left: -3px;
        margin-top: 2px;
    }
    .loca::placeholder{
        font-weight: 500;
        overflow: hidden;
        font-size: 16px;
        font-family: 'ubermovetext',system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .textsize{
        margin-top: 9.5px;
    }
    .delivery input{
        padding-left: 1px;
    }
    .deliveryone{
        
        gap: 11px;
    }
    .delivery{
        gap: 53.4%;
    }
    
    
}
.smallscreen{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 5px;
    
}
.Android{
    display: flex;
    flex-direction: row;
    align-items: center;
    
    
}
.Android h2{
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    font-family: 'ubermovebold',sans-serif;
    margin-left: 16px;
}
.Android svg{
    width: 64px;
    height: 64px;
    border-radius: 15%;
    flex-shrink: 0;
}
.boxrobot{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    border: 2px solid #f3f3f3;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background: #f3f3f3;
    border-radius: 8px;
    padding: 12px 16px;
    min-height: 56px;
    width: 100%;
}
.boxrobot svg{
    width: 15px;
}
.boxrobot span{
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    line-height: 24px;
    font-family: 'ubermovetext',system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media(min-width:900px){
    .smallscreen{
        display: none;
        margin-top: 30px;
        padding-left: 16px;
        padding-right: 16px;
    }
    .Android{
        margin-bottom: 16px;
    }

}
@media(max-width:900px){
    .smallscreen{
        display: block;

    }
}
@media(max-width:412px){
    .smallscreen{
        display: block;
        margin-top: 30px;
        padding-left: 16px;
        padding-right: 16px;
    }
}




/*lists of picture*/
.top-height{
    height: 80px;
}

@media(min-width:1025px){
.listofpicture{
    display: flex;
    flex-direction: row;
    gap: 24px;
    width: 100%;
    margin-bottom: -24px;
    margin-right: -12px;
    margin-left: -12px;
    flex-wrap: nowrap;
    box-sizing: border-box;
    
}
.listofpicture h2{
    font-family: 'UberMoveBold',sans-serif;
    margin-top: 4px;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: normal;
    font-weight: 700;
    margin-bottom: 8px;
}
.listofpicture a{
    font-family: 'Ubermovetextmedium';
    margin-top: 8px;
    display: block;
    line-height: 20px;
    color: rgb(48, 48, 48);
    text-decoration: underline;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: normal;
    font-weight: 500;
    
}
.feed img{
    width: 100%;
    left: 0;
    top: 0;
    
    
}
.feed{
    margin-left: 0%;
    padding-right: 1px;
    padding-left: 12px;
    width: 33.33333333333333336%;
    flex: none;
    display: block;
    margin-bottom: 24px;
}

.restaurant img{
    width: 100%;
    left: 0;
    top: 0;
}
.restaurant{
    margin-left: 0%;
    padding-right: 1px;
    padding-left: 1px;
    width: 33.33333333333333336%;
    flex: none;
    display: block;
    margin-bottom: 24px;
    box-sizing: border-box;
}
.withuber img{
    width: 100%;
}
.withuber{
    margin-left: 0%;
    padding-left: 1px;
    padding-right: 12px;
    width: 33.33333333333333336%;
    flex: none;
    display: block;
    margin-bottom: 24px;
    box-sizing: border-box;
}
}
@media(min-width:1025px){
    .cities-near{
        padding: 0 40px;
        min-width: 1024px;
        max-width: 1920px;
        margin: 0 auto;
        box-sizing: border-box;
    }
    .near-img{
        margin: 24px 0;
    }
}
@media(max-width:900px){
    .listofpicture{
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 100%;
        padding: 15px;
    }
}

@media(max-width:760px){
    .listofpicture{
        display: flex;
        flex-direction: column;
    }
}
@media(max-width:412px){
    .listofpicture{
        width: 100%;
        padding: 45px 15px 15px 15px;
    }
}

.bottom-height{
    height: 80px;
    display: block;
}


.near-me{
    height: 80px;
    display: block;
}
.near img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.me h3{
    font-family: 'Ubermovebold',sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: normal;
    margin: 0;
    
}
.me{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    
    
}
.displayon{display: none;}
.me a{
    color: black;
    line-height: 20px;
    cursor: pointer;
    font-weight: 500;
    cursor: pointer;
    text-decoration: underline;
    letter-spacing: normal;
    font-family: 'Ubermovetextmedium';
}

#list{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(6,1fr);
    gap: 24px;
    margin-top: 24px;

}
#list div{
    font-size: 16px;
    font-weight: normal;
    
    letter-spacing: normal;
    line-height: 24px;
    font-family:'Ubermovetext',system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: inherit;
    
}

#list .displayon p{
    color: black;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Ubermovetext',systexm-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: pointer;
    line-height: 20px;
    font-weight: 900;
    color: black;
    
    margin: 0;
    
    
}
.in-between{
    height: 80px;
}
@media(min-width:900px){

    .near img{
        height: 100%;
        height: 38vh;
    }
    
    
    
    
}
@media(max-width:900px){
    .me a{
        display: none;
    }
    #list{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: repeat(6,1fr);
        gap: 16px 8px;
    }
    #list >div{
        font-size: 18px;
    }
    .countr a{
        display: none;
    }
    .displaynone{
        display: none;
    }
    .displayon{
        display: block;
        text-decoration: underline;
        
    }
    .me h3{
        font-size: 24px;
        margin: 0;
        padding: 0;
    }
   
    .listout{
        padding-top: 0;
        padding-left: 15px;
        padding-right: 15px;
    }
    .near img{
       height: 40vh;
    }
    .Countries{
        margin-top: 10px;
    }
    .countr h2{
        padding:0;
    }
}

@media(max-width:560px){
    #list{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .displaynone{
        display: none;
    }
    .displayon{
        display: block;
        text-decoration: underline;
        
    }
}
@media(max-width:412px){
    .near img{
        height: 40vh;
        
    }
    .me h3{
        font-size: 24px;
        line-height: 32px;
        font-weight: 700;
        
    }
    .cities{
        padding: 15px;
    }
    #list.displayon {
        color: black;
        cursor: pointer;
        font-size: 16px;
        font-family: 'Ubermovetext',systexm-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        cursor: pointer;
        line-height: 20px;
        font-weight: 900;
        color: black;
        text-decoration: underline;
        
        
    }
   
    .country h3{
        font-size: 24px;
        
        
    }
}



footer{
    border-top: 1px solid #f3f3f3;
    margin-top: 78.5px;
    padding: 32px 0px 74px;
    background-color: #ffffff;
    display: block;
}
.eats-top{
    
    max-width: 1280px;
    padding: 0 40px;
    min-width: 1024px;
    margin: 0 auto;
    box-sizing: border-box;
}
.eats{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    align-content: center;
    
    
   
}
.uber{
    display: flex;
    flex: 2;
    flex-direction: column;
    align-items: flex-start;
    gap: 131.9px;
    
   
}
.head-uber {
    margin-bottom: 64px;
    width: auto;
}
.icon{
    display: flex;
    flex-direction: row;
    gap: 16px;
    flex-flow: row wrap;
    margin: 0;
    
    padding: 0;
    height: 42px;
    
}

.second{
    display: flex;
    flex-direction: column;
    flex: 1;
    
    
}
.second ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
.second li{
    display: block;
    
}
.second li,.third li{
    font-size: 16px;
    font-family: 'Ubermovetext',system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
    line-height: 24px;
    margin-bottom: 16px;

}
.third{
    display: flex;
    flex-direction: column;
    flex: 1;
    
    
}
.icon .apple{
    width: auto;
    height: 40px;
    
}
.icon .google{
    
    width: 134.2px;
    height: 40px;
}
.third  img{
    width: 16px;
    height: 16px;
    color: black;
    flex: none;
    margin-right: 8px;
    justify-content: center;
    align-items: center;
    justify-items: center;
    
}

.eats li, .privacy li ,.site li {
    list-style-type:none;
    
    
}
.eats a, .privacy a, .site a{
    text-decoration: none;
    color: black;
   
    
    
}
a:hover{
    text-decoration: underline;
}
.nex-line{
    background-color:#f3f3f3;
    margin: 40px 0;
    border: none;
    height: 1px;
}
@media(max-width:431px){
   

}
@media(min-width:1200px){
  .social{
    position: relative;
    top: -6px;
  }
  .privacy{
    position: relative;
    top: -1px;
  }
  .eats{
    position: relative;
    top: 42px;
  }
  .third{
    position: relative;
    top: -16px;
  }
  .third img{
    position: relative;
    top: 2px;
  }

}
@media(max-width:900px){
    


    
}



.footer{
    display: flex;

}
.social{
    flex: none;
    display: flex;
    flex-direction: row;
}
.social-img{
    display: flex;
}
.social svg{
    width: 16px;
    height: 16px;
    
}
.space-1{
    width: 24px;
    height: 1px;
    flex-shrink: 0;
    margin: 0;
    padding: 0;
}
.space-2{
    width: 40px;
    height: 1px;
    flex-shrink: 0;
    margin: 0;
    padding: 0;
}
.gap-making{
    flex: 1 0 36px;
}
.privacy {
    display: flex;
    flex-direction: row;
    
}
.privacy  a{
    font-size: 14px;
    font-family: 'Ubermovetext',system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    font-weight: normal;
    line-height: 10px;
    display: flex;
   
}

.site-bottom{
    display: flex;

}
.space-maker{
    flex: 1 0 36px;
}
.site{
    display: flex;
    flex-direction: row;
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
    font-family: 'Ubermovetext',system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    letter-spacing: normal;
    
   
    
}
.space-3{
    width: 40px;
    height: 1px;
    flex-shrink: 0;
    margin: 0;
    padding: 0;
}
/*.line{
    border-top-width: 1px;
   border-top-style: solid;
   border-top-color: rgb(240, 240, 240);
   width: 100%;
}
.lines{
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(240, 240, 240);
    width: 65%;
    margin: 0 auto;
}*/

@media(max-width:412px){
    
    
    
}
@media(min-width:900px){
   
    
   

    
}
@media(max-width:900px){
   
}
@media(max-width:768px){

}
@media(max-width:1024px){
    .ubereat{
        padding-left: 18px;
        padding-right: 16px;
        height: 52px;
        
        
    }
    .threeline svg{
        margin-right: 14px;

    }
    .up{
        padding: 8px 12px;
    }
    .uberheading img{
         width: 89px;
    }
    
    .ups{
        white-space: nowrap;
    }
    .ins{
        display: none;
    }
    .human{
        display: block;
        position: relative;
        top: -11px;
    }
    
    .sidebar{
        height: 46px;
        
    }
    .sign{
        gap: 12px;
    }
    .sidebar{
        
        margin-top: -6px;
        
    }
    .mains{
        top: 80px;
        position: absolute;
        margin: 0 auto;
        width: 100%;
        max-width:max-content;
        padding: 0 16px;
        
    }
    .linears{
        display: flex;
        flex-direction: column;
    }
    .order-2 h1{
        font-size: 36px;
        line-height: 44px;
        letter-spacing: normal;
        font-weight: 700;
        font-family: 'Ubermovebold',sans-serif;
        margin-bottom: 25px;
        white-space: nowrap;
    }
    .location-2{
        display: flex;
        flex-direction: row;
        border: 2px solid transparent;
        justify-content:flex-start;
        align-items: center;
        width: 100%;
        height: 56px;
        background: white;
        position: sticky;
        padding-left: 4px;
        
        
    }
    .location-2 .locationimage{
        margin: 12px;
        height: 24px;
        width: 24px;
        fill: currentColor;
        flex: none;
        justify-content: center;
        display: flex;
    }
    .location-2 .text input{
        border: none;
       
    }
    .location-2  .text{
        font: inherit;
        color: inherit;
        border: none;
        letter-spacing: inherit;
        width: 100%;
        max-width: fit-content;
        
       
    
    }
    .location-2 .loca::placeholder{
        color: #5f5e5e;
        line-height: 24px;
        font-size: 16px;
        font-family: 'Ubermovetextmedium';
    }
    
    .delivery-2{
        display: flex;
        flex-direction: row;
     align-items: center;
    border: 2px solid transparent;
    background: white;
    width: 100%;
    height: 56px;
    padding-left: 4px;
    
    
}
.deliveryone-2{
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
   
    
    
}
.deliverytwo-2{
    display: flex;
    flex: 0.1;
}
.deliveryone-2 .clockimage-2{
    
    margin: 10px;
}
.deliveryone-2 .textsize-2 input{
   align-items: center;
   border:none ;
    width: 90px;
    align-items: center;
    justify-content: center;
}
.deliver::placeholder{
    font-size: 16px;
    line-height: 20px;
    letter-spacing: normal;
    font-weight: 500;
    color: black;
    font-family: 'Ubermovetextmedium';
    width: 100%;
    max-width: 90px;
    

}

.search-2{
    align-items: center;
    align-content: center;
    border: none;
    background: black;
    border-radius: 8px;
    justify-content: center;
    margin-top: 15px;
    width: 100%;
    height: 56px;
    text-align: center;
    margin-bottom: 10px;

}
.search-2 button{
    border: none;
    letter-spacing: normal;
    background: black;
    color: white;
    font-family: 'Ubermovetextmedium';
    line-height: 24px;
    font-size: 18px;
    font-weight: 500;
    padding-left: 16.5px;
    padding-right: 16.5px;
    
}

.signs-2 p{
    font-family: 'Ubermovetextmedium';
    letter-spacing: normal;
    line-height: 16px;
    letter-spacing: normal;
    font-size: 14px;
    font-weight: 500;
   
    color: rgb(0, 0, 0);
}
.signs-2 a{
    font-family: 'Ubermovetextmedium';
    color: rgb(0, 0, 0);
    line-height: 16px;
    letter-spacing: normal;
    font-size: 14px;
    font-weight: 500;
}



    .main-aria{
        display: none;
    }
    .container2{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    
    .container2 img{
        width: 100%;
        height: 100vh;
        object-fit: cover;
        object-position: center center;

    }
    
    /*.sidebar{
        display: none;
    }
    .banner{
        display: none;
    }*/
    .banner{
        
       
    }
    .listofpicture{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0 16px;
    }
    .listofpicture img{
        width: 100%;
        height: auto;
        margin-bottom: 4px;
        
    }
    .listofpicture h2{
        font-family: 'UberMoveBold',sans-serif;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: normal;
        font-weight: 700;
        margin: 0;
        
    }

    .listofpicture a{
        font-family: 'Ubermovetextmedium';
        margin-top: 8px;
        
        display: block;
        line-height: 20px;
        color: rgb(48, 48, 48);
        text-decoration: underline;
        cursor: pointer;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: normal;
        font-weight: 500;
        
    }
    .feed, .restaurant{
        
        margin-bottom: 36px;
    }
    .smallscreen{
        display: flex;
    }
    .bottom-height{
        height: 40px;
    }
    .near-me{
        height: 0;
    }
    .me h3{
        font-size: 24px;
        line-height: 32px;
        font-weight: 700;
    }
    .me a{
        display: none;
    }
    .near-img{
        margin: 16px 0;
        
    }
    .near-img img{
        height: 25vh;
        
        object-fit: cover;
        object-position: center center;
    }
    .list{
        display: flex;
        flex-direction: column;
        margin: 0 16px;
    }
    #list{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(6,1fr);
    }
    .displaynone{
        display: none;
    }
    .displayon{
        display: flex;
    
    }
    .in-between{
        height: 48px;
    }


    footer{
        margin-top: 64.5px;
        padding: 64px 16px 80px;
        display: block;
    }

    .icon{
        width: 100%;
        margin-bottom: 65px;
    }
    .eats-top{
       padding: 0;
      
    }
    .uber{
        display: flex;
        flex-direction: column;
        gap: 0px;
        
    }
    .head-uber{
        margin-bottom: 50px;
        height: max-content;
    }
    .eats{
        display: flex;
        flex-direction: column;
    }
    .second{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 34px;
    }
    .third{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 34px;
    }
    .nex-line{
        background-color: #f3f3f3;
        margin: 20px 0;
        border: none;
        height: 1px;
    }

    .footer{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .social{
        margin-bottom: 40px;

    }
    .space-1{
        width: 24px;
    }
    .gap-making{
        flex: 0;
    }
    .privacy{
        display: flex;
        flex-direction: column;
        
    }
    .privacy a{
        line-height: 20px;
        font-size: 14px;
        margin-bottom: 16px;
        font-weight: normal;
    }
   .site-bottom{
    display: flex;
    flex-direction: column;
    
   }
   .space-maker{
    flex: 0;
   }
   .site{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    
   }
   .siteone p{
    margin: 0;
   }
}
@media(max-width:1024px){
    
}